.footer {
    background-color: rgb(29, 28, 28); /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 40px;
    text-align: center;
    left: 0; /* Pegado al borde izquierdo de la ventana */
    right: 0; /* Pegado al borde derecho de la ventana */
    position: relative; /* Para posicionar la línea debajo del título */

  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-list li {
    margin: 0 20px; /* Espacio entre elementos de la lista */
}

.footer-list a {
    color: white; /* Color de los enlaces */
    font-size: 18px; /* Tamaño de fuente */
    text-decoration: none; /* Sin subrayado */

  }

  .footer::after {
    content: ''; /* Crea un elemento pseudo ::after */
    display: block;
    width: 50%; /* Ancho de la línea al 100% del header */
    height: 2px; /* Altura de la línea */
    background-color: rgb(0, 251, 255); /* Color de la línea (azul neon) */
    position: absolute; /* Posición absoluta para superponer la línea al título */
    bottom: -1px; /* Posición debajo del texto */
    left: 0; /* Comienza desde la izquierda */
    animation: moveLine 3s infinite alternate; /* Animación de la línea */
  }
  
  @keyframes moveLine {
    0% {
      transform: translateX(0); /* Comienza en la posición inicial */
    }
    100% {
      transform: translateX(100%); /* Se desplaza completamente hacia la derecha */
    }
  }
  .footer-list a:hover {
    color: #00FFFF; /* Color de los enlaces (azul neon) */
  }
  